{% extends 'student/index.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/student_list.css' %}">
  <div class="main">
    <div class="canvas">
      <ul class="contents">
        {% for student in students %}
        <li class="content">
          <div class="student_name">
            <p>{{ student.name }}</p>
          </div>
          <div class="student_number">
            <p>{{ student.number }}</p>
          </div>
          <div class="student_count">
            <p>{{ student.count }}</p>
          </div>
          <div class="student_detail">
            <p><a href="{% url 'student_detail' pk=student.pk %}">詳細情報</a></p>
          </div>
        {% empty %}
        <div class="empty_content">
          <p>ユーザーがいません</p>
          <p>ユーザーを作成してください</p>
        </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}